[include mainsail.cfg]
[exclude_object]
#[mcu host]
#[mcu]
#serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

# This file contains common pin mappings for the Fysetc Cheetah v2.0
# board. To use this config, the firmware should be compiled for the
# STM32F401 with "No bootloader" and Communication interface USB

# After running "make", run the following command to flash the board:
# dfu-util -R -a 0 -s 0x08000000:leave -D out/klipper.bin

# See docs/Config_Reference.md for a description of parameters.

[mcu]
canbus_uuid: 53e624039aa0
#####################################################################
#	Obtain mcu value by "ls -l /dev/serial/by-id/" 
#####################################################################

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PE0
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PD1
enable_pin: !PD3
rotation_distance: 40
microsteps: 32
#endstop_pin: ^PB4   #use SHTv2 endstop pin
full_steps_per_rotation: 200                 # Set to 400 for 0.9°„ degree stepper motor, 200 is for 1.8°„ stepper motors
position_min: 0                     # 软限位最小行程
position_endstop: 120
position_max: 120
homing_speed: 50 #100                             # Increase after initial setup, Max 100
homing_retract_dist: 3
second_homing_speed: 5.0
homing_positive_dir: true

[tmc2240 stepper_x] 
cs_pin: PD0
spi_bus: spi3
run_current: 0.7                   # 电机运行电流值
interpolate: False                  # 是否开启256微步插值（不建议开启）
rref: 12300
stealthchop_threshold: 0           # 静音阀值（如果不需要静音，请将数值改为0）
#[tmc2209 stepper_x]
#uart_pin: PA3
#tx_pin: PA2
#uart_address: 0
#interpolate: False
#run_current: 0.7
#sense_resistor: 0.110
#stealthchop_threshold: 0           # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

[stepper_y]
step_pin: PE2
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PD5
enable_pin: !PD6
rotation_distance: 40
microsteps: 32
endstop_pin: ^PE8
position_min: 0                     # 软限位最小行程
position_endstop: 120
position_max: 120
homing_speed: 50                              # Can be increased after initial setup, Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2240 stepper_y] 
cs_pin: PD4
spi_bus: spi3
run_current: 0.7                   # 电机运行电流值
interpolate: False                  # 是否开启256微步插值（不建议开启）
rref: 12300
stealthchop_threshold: 0           # 静音阀值（如果不需要静音，请将数值改为0）
#[tmc2209 stepper_y]
#uart_pin: PA3
#tx_pin: PA2
#uart_address: 2
#interpolate: False
#run_current: 0.7                            # For V0.1 spec NEMA14 40Ncm
#sense_resistor: 0.110
#stealthchop_threshold: 0 #250             # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PE4
dir_pin: !PC13	# Remove ! if moving opposite direction
enable_pin: !PC14
rotation_distance: 8 #for T8x8 lead screw
#rotation_distance: 2 #for T8x2 lead screw
microsteps: 32
endstop_pin: ^PE9
#position_endstop: -.10
position_min: -5             # 配置喷嘴清洁需要-5左右
#position_endstop: 120         # 软限位最大行程 (250mm-300mm-350mm)（voron0.1是120）
position_max: 120
homing_speed: 10   #Max 100
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PB6
#tx_pin: PA2
#uart_address: 1
interpolate: False
run_current: 0.3                             # For V0.1 spec NEMA17 w/ integrated lead screw
sense_resistor: 0.110
stealthchop_threshold: 0                     # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Extruder
#####################################################################
## 挤出机
[extruder]
#step_pin: rht36:gpio10
#dir_pin: !rht36:gpio9
#enable_pin: !rht36:gpio7
step_pin: sht36v2:PB4               # 挤出电机方脉冲引脚
dir_pin: !sht36v2:PB3               # 挤出电机方向引脚设置
enable_pin: !sht36v2:PA15           # 挤出电机方使能引脚设置
#rotation_distance: 22.4  #22.6789511	#Bondtech 5mm Drive Gears
rotation_distance: 13.2
#rotation_distance: 33.5
gear_ratio: 50:10				
microsteps: 16
#microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
#heater_pin: rht36:gpio23
#sensor_pin: rht36:gpio26
heater_pin: sht36v2:PA8
sensor_pin: sht36v2:PA3
sensor_type: ATC Semitec 104NT-4-R025H42G  #ATC Semitec 104GT-2 Generic 3950
#pullup_resistor: 2200
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: -50
max_temp: 310
max_power: 1
min_extrude_temp: 170

#[extruder]
#step_pin: PB2
#dir_pin: PA15	                     # Add ! if moving opposite direction
#enable_pin: !PD2
#full_steps_per_rotation: 200         # 1.8 degree motor
#rotation_distance: 22.23             # See calibrating rotation_distance on extruders doc
#gear_ratio: 50:10                    # For Mini Afterburner
#microsteps: 16
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PC6
#sensor_type: EPCOS 100K B57560G104F  # Adjust for your hotend thermistor (see options below)
#sensor_pin: PC4
#control: pid                         # Do PID calibration
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
#min_temp: 0
#max_temp: 270
#min_extrude_temp: 170
#max_extrude_only_distance: 780.0
#max_extrude_cross_section: 0.8
#pressure_advance: 0.0                 # See tuning pressure advance doc
#pressure_advance_smooth_time: 0.040

#[tmc2209 extruder]
#uart_pin: PA3
#tx_pin: PA2
#uart_address: 3
#interpolate: True
#run_current: 0.35
#hold_current: 0.2
#sense_resistor: 0.110
#stealthchop_threshold: 500

[heater_bed]
heater_pin: PB0
sensor_type: Generic 3950  #NTC 100K beta 3950         # Verify yours
#sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB1
smooth_time: 3.0
#max_power: 0.6                         # Only need this for 100w pads
min_temp: 0
max_temp: 120
#control: pid                            # Do PID calibration
#pid_kp: 68.453
#pid_ki: 2.749
#pid_kd: 426.122



#[heater_fan hotend_fan]
# FAN1 Connector
#pin: PA13
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
#fan_speed: 1.0                         # You can't PWM the delta fan unless using blue wire


#[heater_fan exhautfan]
# Print Cooling Fan: FAN0 Connector
#pin: PA0
#max_power: 0.5
#kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 50
#depending on your fan, you may need to increase or reduce this value
#if your fan will not start
#off_below: 0.13
#cycle_time: 0.010
#shutdown_speed: 0

[temperature_fan Pi_Fan]           # 电器仓风扇
pin: PA1                     # 信号接口
max_power: 1.0               # 最大转速
kick_start_time: 0.5         # 启动时间（勿动）
sensor_type: temperature_host
control: watermark
# 高于以下温度启用风扇
target_temp: 48.0
# 允许的温度范围
min_temp: 0
max_temp: 90
# 调节最大风速以降低噪音
max_speed: 1.0
min_speed: 0.3

[controller_fan Driver_Fan]           # 电器仓风扇
pin: PA2                     # 信号接口
max_power: 1.0               # 最大转速
kick_start_time: 0.5         # 启动时间（勿动）
stepper: stepper_y
#sensor_type: temperature_host
#control: watermark
# 高于以下温度启用风扇
#target_temp: 60
# 允许的温度范围
#min_temp: 0
#max_temp: 100
# 调节最大风速以降低噪音
#max_speed: 1.0
#min_speed: 0.3

# Example with friendly names + comments showing OrcaSlicer index

#fan_generic CPAP]        # fan 0 OrcaSlicer
#pin: PB7
#max_power: 0.8
#shutdown_speed: 0
#kick_start_time: 0.100
#cycle_time: 0.005
#hardware_pwm: False
#off_below: 0.10

[fan_generic EXHAUST]     # fan 3 OrcaSlicer
pin: PA0
max_power: 0.5
shutdown_speed: 0
cycle_time: 0.01
hardware_pwm: False
#kick_start_time:
off_below: 0.2

# If you had another (e.g. P2) add here:
[fan_generic AUX]
pin: PA3
cycle_time: 0.01
hardware_pwm: false

[gcode_macro M106]
description: "Set fan speed (Orca compatible)"
gcode:
    {% set fan_map = {
        0: "PART",      # Orca P0 → CPAP blower
        3: "EXHAUST",   # Orca P3 → Exhaust
        2: "AUX",     # Uncomment if you define AUX
    } %}
    {% set p = params.P|int if 'P' in params else 0 %}
    {% set fan = fan_map[p] if p in fan_map else fan_map[0] %}
    {% set speed = (params.S|float / 255 if 'S' in params else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}

[gcode_macro M107]
description: "Turn off fans. No P = all, P# = specific"
gcode:
    {% set fan_map = {
        0: "PART",
        3: "EXHAUST",
        2: "AUX",
    } %}
    {% if 'P' in params %}
        {% set p = params.P|int %}
        {% if p in fan_map %}
            SET_FAN_SPEED FAN={fan_map[p]} SPEED=0
        {% else %}
            #RESPOND PREFIX="warn" MSG="Unknown fan index P{{p}}" 
        {% endif %}
    {% else %}
        # No P -> turn off all mapped fans
        {% for f in fan_map.values() %}
            SET_FAN_SPEED FAN={f} SPEED=0
        {% endfor %}
    {% endif %}


[idle_timeout]
timeout: 1200

[board_pins]
aliases:
    EXP1_1=PD10, EXP1_3=PA8,   EXP1_5=PE15,   EXP1_7=PA14,  EXP1_9=<GND>,
    EXP1_2=PA9,  EXP1_4=PA10,  EXP1_6=PE14,   EXP1_8=PA13,  EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PB11,  EXP2_5=PB10,  EXP2_7=PE13,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4,   EXP2_6=PA7,   EXP2_8=<RST>, EXP2_10=<NC>,

#[safe_z_home]
#home_xy_position: 120,120
#speed: 50.0
#z_hop: 2

[homing_override]
axes: xyz
set_position_z: 0
gcode:
  STATUS_HOMING
   G90
   G0 Z5 F600
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _HOME_Z
  {% endif %}
  STATUS_READY


# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#####################################################################
#	Macros
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
    G28                            ; home all axes
    G1 Z20 F3000                   ; move nozzle away from bed
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600    ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y-10} F3600          ; park nozzle at rear
	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute
   
[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
   # {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
   # {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
   # {% set HOME_CURRENT_RATIO = 0.7 %} # by default we are dropping the motor current during homing. you can adjust this value if you are having trouble with skipping while homing
   # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_X}
   # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_Y}

    # Home
    G28 X
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
   # G4 P1000
    G90
    # Set current during print
    #SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    #SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
   # {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
   # {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
   # {% set HOME_CURRENT_RATIO = 0.7 %} # by default we are dropping the motor current during homing. you can adjust this value if you are having trouble with skipping while homing
   # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_X}
   # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_Y}

    # Home
    G28 Y
    # Move away
    G91
    G1 Y-10 F1200

    # Wait just a second… (give StallGuard registers time to clear)
   # G4 P1000
    G90
    # Set current during print
   # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
   # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}



[gcode_macro _HOME_Z]
gcode:
    G90
    G28 Z
    G1 Z60

#[include rht36.cfg]
[include sht36v2.cfg]
[include v0_display.cfg]
[include bedScrewMenu.cfg]
[include TEST_SPEED.cfg]

# Sensor Types
#   "EPCOS 100K B57560G104F"
#   "ATC Semitec 104GT-2"
#   "NTC 100K beta 3950" (Keenovo Heater Pad)
#   "Honeywell 100K 135-104LAG-J01"
#   "NTC 100K MGB18-104F39050L32"
#   "AD595"
#   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 49.566
#*# pid_ki = 3.304
#*# pid_kd = 185.873
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.369
#*# pid_ki = 1.356
#*# pid_kd = 92.271
#*#
#*# [stepper_z]
#*# position_endstop = 114.295
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 85.6
#*# shaper_type_y = zv
#*# shaper_freq_y = 72.0
