## RHT36设置
[mcu rht36]
serial:  /dev/serial/by-id/usb-Klipper_rp2040_E66138935F408629-if00

## RHT36温度
[temperature_sensor FLY-RHT36]
sensor_type: temperature_mcu
sensor_mcu: rht36

## FAN0
[heater_fan hotend_fan]
pin: rht36:gpio25
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0

## FAN1
[fan]
pin: rht36:gpio24
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.009
#off_below: 0.10

## X限位设置
[stepper_x]
endstop_pin: rht36:gpio19
## RHT板有gpio18,gpio19两个限位引脚可用，按照实际接线修改配置
## gpio18引脚默认支持高压输入，可用于12/24v的接近传感器等。可通过跳线帽配置gpio18为普通限位引脚

## 挤出机
#[extruder]
#step_pin: rht36:gpio10
#dir_pin: rht36:gpio9
#enable_pin: !rht36:gpio7
#rotation_distance: 22.4  #22.6789511	#Bondtech 5mm Drive Gears
#rotation_distance: 33.5
#gear_ratio: 50:10				
#microsteps: 16
#microsteps: 32
#full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: rht36:gpio23
#sensor_pin: rht36:gpio26
#sensor_type: ATC Semitec 104NT-4-R025H42G  #ATC Semitec 104GT-2 Generic 3950
#pullup_resistor: 2200
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
#min_temp: -50
#max_temp: 310
#max_power: 0.6
#min_extrude_temp: 170

## 挤出机驱动设置
[tmc2209 extruder]
uart_pin: rht36:gpio8
run_current: 0.650
sense_resistor: 0.110
interpolate: false
stealthchop_threshold: 0


## RGB
#[neopixel my_neopixel]
#pin: rht36:gpio15
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

## ADXL345加速度计
[adxl345]
cs_pin: rht36:gpio6
spi_software_sclk_pin: rht36:gpio2
spi_software_mosi_pin: rht36:gpio3
spi_software_miso_pin: rht36:gpio4

[resonance_tester]
accel_chip: adxl345
probe_points:
    60, 60, 20  # an example

## BLTOUCH
#[bltouch]
#sensor_pin: ^rht36:gpio27
#control_pin: rht36:gpio21
#x_offset: -26.1
#y_offset: -15.3
#z_offset: 2.1

## PT100设置
#[temperature_sensor PT100]
#sensor_type: MAX31865
#sensor_pin: rht36:gpio5
#spi_software_sclk_pin: rht36:gpio2
#spi_software_mosi_pin: rht36:gpio3
#spi_software_miso_pin: rht36:gpio4
#min_temp: -50
#max_temp: 350
#rtd_reference_r: 430